.dialog {
  background: #111;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 12px;

  .title {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 20px;
    justify-content: center;
    font-weight: bold;
  }

  .description {
    text-align: center;
  }

  .content {
    display: flex;
    flex-direction: column;
  }
}
